@font-face {
  font-family: Oscuro;
  src: url(Sf_bold.otf);
}

@font-face {
  font-family: SemiOscuro;
  src: url(Sf_semibold.otf);
}

@font-face {
  font-family: Medio;
  src: url(Sf_medium.otf);
}

@font-face {
  font-family: Regular;
  src: url(Sf_regular.otf);
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #6A625A;

  font-family: SemiOscuro;
  text-align: center;
  margin-bottom: 60px;
}




/* About us */

main .sobre-nosotros{
  padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
  display: flex;
  justify-content: space-evenly;
}

.imagen-about-us{
  width: 48%;
  border-radius: 5%;

}

.sobre-nosotros .contenido-textos{
  width: 40%;
}

.contenido-textos h3{
  margin-bottom: 15px;
  color: #6A625A;
  font-family: Medio;
  padding:  0px  15px;

  text-align: justify;

}


.img2{
  width: 20px;
}

.contenido-textos p{
  color: #6A625A;
  font-family: Regular;
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}